<a href="https://colab.research.google.com/github/eliassalazarb/FisicaComputacional1/blob/main/Actividad3/Actividad3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import numpy as np
import pandas as pd

# Tomar datos del url en formato "raw"
url = 'https://raw.githubusercontent.com/eliassalazarb/FisicaComputacional1/main/Actividad1/25038.txt'

# Definimos los nombres de las columnas
# El archivo tiene códigos ASCII extendido (Español), encoding='cp1251' Windows (Europa Occidental)
# El separador de datos es de uno o más espacios, sep='\s+'
# Se brincará los primeros 19 renglones y el último, afirmamos que no nay encabezado
# Se procesan los datos utilizando Python, engine='python' 
my_cols = ['Fecha','Precip','Evap','Tmax','Tmin',]
df_tkt = pd.read_csv(url, names=my_cols, encoding='cp1251', sep='\s+', header=None, skiprows=19, skipfooter=1, engine='python')

In [6]:
# Revisamos los primeros diez renglones y los últimos diez del dataframe
print(df_tkt.head(10))
print(df_tkt.tail(10))

        Fecha Precip  Evap  Tmax  Tmin
0  15/01/1969      0  Nulo  Nulo  Nulo
1  16/01/1969      0   3.2    26  13.5
2  17/01/1969      0   2.6    27    13
3  18/01/1969      0   0.5    26  11.5
4  19/01/1969      0   5.1    25  11.5
5  20/01/1969      0   3.5    29  10.5
6  21/01/1969      0     2    29   9.5
7  22/01/1969      0     3  28.5    11
8  23/01/1969      0   2.8  27.5    11
9  24/01/1969      0   3.9    29    10
            Fecha Precip  Evap  Tmax  Tmin
17539  22/12/2018      0  Nulo    29    12
17540  23/12/2018      0  Nulo    29  11.5
17541  24/12/2018      0  Nulo    28  12.5
17542  25/12/2018      0  Nulo    27    12
17543  26/12/2018      0  Nulo    24  12.5
17544  27/12/2018      0  Nulo  24.5    11
17545  28/12/2018      0  Nulo    24     8
17546  29/12/2018      0  Nulo  21.5     9
17547  30/12/2018      0  Nulo  20.5     6
17548  31/12/2018      0  Nulo  22.5   5.5

In [7]:
# Revisamos las dimensiones (renglones, columnas)
df_tkt.shape

(17549, 5)

In [8]:
# Información del dataframe
df_tkt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17549 entries, 0 to 17548
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Fecha   17549 non-null  object
 1   Precip  17549 non-null  object
 2   Evap    17549 non-null  object
 3   Tmax    17549 non-null  object
 4   Tmin    17549 non-null  object
dtypes: object(5)
memory usage: 685.6+ KB

In [9]:
# Hacemos una copia de trabajo y preservamos el dataframe original
df_tkt0 = df_tkt.copy()
df_tkt0.head()

        Fecha Precip  Evap  Tmax  Tmin
0  15/01/1969      0  Nulo  Nulo  Nulo
1  16/01/1969      0   3.2    26  13.5
2  17/01/1969      0   2.6    27    13
3  18/01/1969      0   0.5    26  11.5
4  19/01/1969      0   5.1    25  11.5

In [10]:
# Cambiamos la palabra nulo por un vacío y verificamos
str_Nulo = 'Nulo'
df_tkt1 = df_tkt0.replace(to_replace=str_Nulo, value='', regex=True)
print(df_tkt1.head())
print(df_tkt.tail())

        Fecha Precip Evap Tmax  Tmin
0  15/01/1969      0
1  16/01/1969      0  3.2   26  13.5
2  17/01/1969      0  2.6   27    13
3  18/01/1969      0  0.5   26  11.5
4  19/01/1969      0  5.1   25  11.5
            Fecha Precip  Evap  Tmax Tmin
17544  27/12/2018      0  Nulo  24.5   11
17545  28/12/2018      0  Nulo    24    8
17546  29/12/2018      0  Nulo  21.5    9
17547  30/12/2018      0  Nulo  20.5    6
17548  31/12/2018      0  Nulo  22.5  5.5

In [11]:
# Convertimos los valores de las variables ambientales a números flotantes y verificamos 
cols_list = ['Precip', 'Evap', 'Tmax', 'Tmin']
for cols in cols_list:
  df_tkt1[cols] = pd.to_numeric(df_tkt0[cols], errors='coerce')
df_tkt1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17549 entries, 0 to 17548
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Fecha   17549 non-null  object
 1   Precip  17402 non-null  float64
 2   Evap    6167 non-null   float64
 3   Tmax    17412 non-null  float64
 4   Tmin    17379 non-null  float64
dtypes: float64(4), object(1)
memory usage: 685.6+ KB

In [12]:
# Contabilizamos el número de datos faltantes en las variables y se suman los valores nulos
df_tkt1.isnull().sum()

Fecha         0
Precip      147
Evap      11382
Tmax        137
Tmin        170
dtype: int64

In [13]:
# Imprimimos nuevamente el encabezado y el final del dataframe
print(df_tkt1.head())
print(df_tkt1.tail())

        Fecha  Precip  Evap  Tmax  Tmin
0  15/01/1969     0.0   NaN   NaN   NaN
1  16/01/1969     0.0   3.2  26.0  13.5
2  17/01/1969     0.0   2.6  27.0  13.0
3  18/01/1969     0.0   0.5  26.0  11.5
4  19/01/1969     0.0   5.1  25.0  11.5
            Fecha  Precip  Evap  Tmax  Tmin
17544  27/12/2018     0.0   NaN  24.5  11.0
17545  28/12/2018     0.0   NaN  24.0   8.0
17546  29/12/2018     0.0   NaN  21.5   9.0
17547  30/12/2018     0.0   NaN  20.5   6.0
17548  31/12/2018     0.0   NaN  22.5   5.5

In [14]:
# Estádistica básica de las variables númericas con redondeo a 2 cifras significativas
df_tkt1.describe().round(2)

         Precip     Evap      Tmax      Tmin
count  17402.00  6167.00  17412.00  17379.00
mean       1.24     4.41     32.98     17.64
std        7.23     1.99      4.63      5.87
min        0.00     0.10     13.00     -0.50
25%        0.00     2.90     30.00     12.50
50%        0.00     4.20     34.00     17.00
75%        0.00     5.70     36.50     23.50
max      243.00    16.40     46.00     29.50

In [15]:
# Definimos un nuevo dataframe por si hay que regresarse.
df_tkt2 = df_tkt1.copy()
df_tkt2['Fecha'].head()

0    15/01/1969
1    16/01/1969
2    17/01/1969
3    18/01/1969
4    19/01/1969
Name: Fecha, dtype: object

In [16]:
# Se convierte el objeto Fecha a variable fecha que python reconoce
df_tkt2['Fecha'] = pd.to_datetime(df_tkt2['Fecha'], dayfirst=True).copy()
print(df_tkt2.head())

       Fecha  Precip  Evap  Tmax  Tmin
0 1969-01-15     0.0   NaN   NaN   NaN
1 1969-01-16     0.0   3.2  26.0  13.5
2 1969-01-17     0.0   2.6  27.0  13.0
3 1969-01-18     0.0   0.5  26.0  11.5
4 1969-01-19     0.0   5.1  25.0  11.5

In [17]:
# Verificamos que las variables son del tipo que las queremos
df_tkt2.dtypes

Fecha     datetime64[ns]
Precip           float64
Evap             float64
Tmax             float64
Tmin             float64
dtype: object

In [18]:
# Añadimos dos columnas adicionales: df['Año'], df['Mes']
# Usaremos la función .dt.year y .dt.month para extraer el Año y Mes de la Fecha
df_tkt2['Año'] = df_tkt2['Fecha'].dt.year
df_tkt2['Mes'] = df_tkt2['Fecha'].dt.month
# Verificamos que se hayan creado de forma correcta
# Tendremos ahora dos columnas adicionales de Año y Mes.
print(df_tkt2.head())
print(df_tkt2.tail())

       Fecha  Precip  Evap  Tmax  Tmin   Año  Mes
0 1969-01-15     0.0   NaN   NaN   NaN  1969    1
1 1969-01-16     0.0   3.2  26.0  13.5  1969    1
2 1969-01-17     0.0   2.6  27.0  13.0  1969    1
3 1969-01-18     0.0   0.5  26.0  11.5  1969    1
4 1969-01-19     0.0   5.1  25.0  11.5  1969    1
           Fecha  Precip  Evap  Tmax  Tmin   Año  Mes
17544 2018-12-27     0.0   NaN  24.5  11.0  2018   12
17545 2018-12-28     0.0   NaN  24.0   8.0  2018   12
17546 2018-12-29     0.0   NaN  21.5   9.0  2018   12
17547 2018-12-30     0.0   NaN  20.5   6.0  2018   12
17548 2018-12-31     0.0   NaN  22.5   5.5  2018   12

In [19]:
# Verificamos que las variables Mes y Año son enteros
df_tkt2.dtypes

Fecha     datetime64[ns]
Precip           float64
Evap             float64
Tmax             float64
Tmin             float64
Año                int64
Mes                int64
dtype: object